[submodule "c-blosc"]
	path = vendor/c-blosc
	url = https://github.com/Blosc/c-blosc.git
[submodule "zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "openvdb"]
	path = vendor/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "oneTBB"]
	path = vendor/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
